.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #408092;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.topbarLeft {
    flex: 2;
}

.topbarLogo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer; 
}

.topbarCenter {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    margin-left: 8px;
    font-size: 1.3rem !important;
}

.searchInput {
    border: none;
    width: 80%;
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color: white;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarAccount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarAccountName {
    margin-left: 10px;
    font-size: 0.8rem;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topbarIcon {
    /* filter: invert(99%) sepia(96%) saturate(10%) hue-rotate(215deg) brightness(104%) contrast(100%); */
}

.topbarAccountMore {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.topbarAccountOpenList {
    display: none;
    position: absolute;
    top: 100%;
    left: -14px;
    background-color: white;
    color: #333;
    list-style: none;
    padding: 0;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
}

.topbarAccountMore:hover .topbarAccountOpenList{
    display: block;
}

.topbarListItem {
    padding: 10px 20px;
}

.topbarListItem:hover {
    background-color: #eee;
    cursor: pointer;
}