.rightbarProfile {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;  
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarProfileImgContainer {
    position: relative;
    margin-right: 10px;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.rightbarInfoItem.righbarInfoDrop {
    flex-direction: column;
    align-items: flex-start;
}

.rightbarInfoItem.righbarInfoDrop .rightbarInfoKey{
    margin-bottom: 12px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
  
.rightbarInfoValue{
    font-weight: 400;
    color: #222;
    display: flex;
    align-items: center;
}

.rightbarProfileFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
  
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin: 10px 4px;
    cursor: pointer;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightbarFollowButton {
    margin-top: 50px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rightbarIcon {
    color: rgb(255, 217, 0);
    position: relative;
    top: -2px;
}